/*Character Border css code */
.character-sheet-border {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.character-border {
    width: 1000px;
    margin: 10px;
    border: 3px solid gray;
    background-color: whitesmoke;
}

.border {
    min-height: 1245px;
}

/*Top stat panel css code */
.top-pannel-main {
    display: flex;
    align-items: center;
    border: 3px solid purple;
}

.top-stat-panel {
    margin: 10px;
    border: 3px solid black;
}

.item1 {
    width: 40%;
    display: flex;
    margin-bottom: 10rem;
    min-height: 10px;
    font-size: small;

}

.item2 {
    display: flex;
    width: auto;
    margin-bottom: 10rem;
    min-height: 20px;
    font-size: xx-small;
    gap: 10px;
}

.item3 {
    display: flex;
    font-size: xx-small;
    gap: 10px;
    align-items: center;
}